<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ncwu.titapan.mapper.FileMapper">

    <select id="getFileInfoByMD5" parameterType="String" resultType="com.ncwu.titapan.pojo.CustomFile">
        select * from file where md5_val=#{md5_val} and public_file=0
    </select>
    <select id="getFileInfoByFid" parameterType="int" resultType="com.ncwu.titapan.pojo.CustomFile">
        select * from file where fid=#{fid} and public_file=0
    </select>

<!--  插入新文件  -->
    <insert id="insertFile" parameterType="com.ncwu.titapan.pojo.CustomFile">
        insert into file(md5_val, storage_path, f_name, upload_date, f_size, preview_url)
        values(#{md5_val}, #{storage_path}, #{f_name}, #{upload_date}, #{f_size}, #{preview_url})
    </insert>

    <!--  插入公共文件  -->
    <insert id="insertPublicFile" parameterType="com.ncwu.titapan.pojo.CustomFile">
        insert into file(md5_val, storage_path, f_name, upload_date, f_size, public_file, preview_url, f_description)
        values(#{md5_val}, #{storage_path}, #{f_name}, #{upload_date}, #{f_size}, 1, #{preview_url}, #{f_description})
    </insert>

    <select id="getPublicFileList" resultType="com.ncwu.titapan.pojo.CustomFile">
        select fid, f_name, upload_date, f_size, preview_url, f_description from file where public_file=1
        limit #{offset}, #{count}
    </select>

    <select id="getPublicFile" resultType="com.ncwu.titapan.pojo.CustomFile">
        select * from file where md5_val=#{md5_val} and public_file=1
        limit #{offset}, #{count}
    </select>

    <select id="getPublicFileCount" resultType="int">
        select count(fid) from file where public_file=1
    </select>

</mapper>