<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ncwu.titapan.mapper.FileMapper">

    <select id="getFileInfoByMD5" parameterType="String" resultType="com.ncwu.titapan.pojo.CustomFile">
        select * from file where md5_val=#{md5_val}
    </select>
    <select id="getFileInfoByFid" parameterType="int" resultType="com.ncwu.titapan.pojo.CustomFile">
        select * from file where fid=#{fid}
    </select>

<!--  插入新文件  -->
    <insert id="insertFile" parameterType="com.ncwu.titapan.pojo.CustomFile">
        insert into file(md5_val, storage_path, f_name, upload_date, f_size, preview_url, public_file)
        values(#{md5_val}, #{storage_path}, #{f_name}, #{upload_date}, #{f_size}, #{preview_url}, #{public_file})
    </insert>

    <update id="updateFile" parameterType="com.ncwu.titapan.pojo.CustomFile">
        update file set md5_val=#{md5_val}, storage_path=#{storage_path},
         f_name=#{f_name}, upload_date=#{upload_date}, f_size=#{f_size},
         public_file=#{public_file}, preview_url=#{preview_url} where fid=#{fid}
    </update>

    <delete id="deleteFileByFid">
        delete from file where fid=#{fid}
    </delete>

</mapper>